/.php_cs.cache
uploads/images/
uploads/files/
outros/
nbproject/
vendor/
includes/php/conn.php
phinx.yml
.env
/.idea
/includes/files/*.csv
/includes/files/*.sql
/includes/files/*.txt
/includes/files/*.json
/includes/files/*.js
/includes/files/pokedb/*.json